@model TFLeilao.PL.Leilao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Leilao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Natureza" class="control-label"></label>
                <select asp-for="Natureza" class="form-control"></select>
                <span asp-validation-for="Natureza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Forma" class="control-label"></label>
                <select asp-for="Forma" class="form-control"></select>
                <span asp-validation-for="Forma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_ini" class="control-label"></label>
                <input asp-for="Data_ini" class="form-control" />
                <span asp-validation-for="Data_ini" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_fin" class="control-label"></label>
                <input asp-for="Data_fin" class="form-control" />
                <span asp-validation-for="Data_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioResponsavel" class="control-label"></label>
                <input asp-for="IdUsuarioResponsavel" class="form-control" />
                <span asp-validation-for="IdUsuarioResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
