@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabalho Final Disciplina PSA</h1>
    <p>Trabalho desenvolvido utilizando técnicas aprendidas ao longo do Semestre</a>.</p>
</div>
